@using Herrd.Extensions
@model Herrd.Extensions.Models.EditProfileModel

@{
	ViewBag.Title = "EditProfile";
	Layout = "~/Views/_layout.cshtml";
}

<div class="site_container">
	<h1>Edit profile</h1>
	<div class="spacer">
		<!--spacer-->
	</div>
	<div class="media">
		<div class="med_l">
			<p class="hm">
				<img src="@Helpers.GetAvatarUrl(Model.Email, 152)" width="152" alt="@Model.Username" class="rounded">
			</p>
		</div>
		<div class="bd">
			@using(Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form_std", @id = "form_profile" }))
			{

				@Html.AntiForgeryToken()
				@Html.ValidationSummary()
				
				@Html.LabelFor(x => x.Firstname)
				@Html.TextBoxFor(x => x.Firstname)

				@Html.LabelFor(x => x.Surname)
				@Html.TextBoxFor(x => x.Surname)

				@Html.LabelFor(x => x.Username)
				@Html.TextBoxFor(x => x.Username)
				@Html.ValidationMessageFor(x => x.Username)

				@Html.LabelFor(x => x.Email)
				@Html.TextBoxFor(x => x.Email)
				@Html.ValidationMessageFor(x => x.Email)

				@Html.LabelFor(x => x.Website)
				@Html.TextBoxFor(x => x.Website)

				@Html.LabelFor(x => x.City)
				@Html.TextBoxFor(x => x.City)

				@Html.LabelFor(x => x.Countries)
				@Html.DropDownListFor(x => x.Country, Model.Countries)

				<div class="hr"><!--hr--></div>

				@Html.LabelFor(x => x.IsPublic)
				<p>Choose Private to hide your Herrd playlists.<br> All accounts set to Public by default.</p>

				@Html.RadioButtonFor(x => x.IsPublic, "true", new { @id = "is-public"})
				<label for="is-public" class="radio">Public</label>
	
				@Html.RadioButtonFor(x => x.IsPublic, "false", new { @id = "is-private"})
				<label for="is-private" class="radio">Private</label>

				<div class="spacer half">
					<!--spacer-->
				</div>

				<input class="submit_std" type="submit" value="Save">

			}
		</div>
	</div>
	<div class="push">
		<!--push-->
	</div>
</div>