@using Herrd.DataLayer
@model Herrd.Extensions.Models.AddTrackModel

<div class="form_container">
	
	@using (Html.BeginForm("AddTrack", "Home", FormMethod.Post, new { @id = "form_add"})){
	
		@Html.AntiForgeryToken()

		@Html.LabelFor(t => t.Term)
		@Html.TextAreaFor(t => t.Term, new { @placeholder = "Add..."})

		@Html.LabelFor(x => x.Title, "Title")
		<div class="title">
			@Html.TextBoxFor(x => x.Title, new { @class = "input_title", @placeholder = "Title (optional)" })
			<a href="#" class="reset">Clear field</a>
		</div>
	 
		<input id="submit_add" type="submit" value="Save" />
	}

</div>