
<ul class="nav float_right">
	@if (HttpContext.Current.User.Identity.IsAuthenticated)
	{
		<li>
			<a href="/" class="current">Playlist</a>
		</li>
		<li>
			@Html.ActionLink("Archive", "Index", "Archive")
		</li>
		<li>
			@Html.ActionLink("Feed", "Index", "Feed")
		</li>
	}
	else
	{
		<li class="no_margin_right">
			@Html.ActionLink("Sign up", "NormalHomepage", "Home")
            @Html.Raw("&nbsp;or&nbsp;&nbsp;")
		</li>
		<li class="no_margin_right">
			@Html.ActionLink("Log in", "Login", "Account")
		</li>
	}
</ul>

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
	<div class="search_field float_right">
		<a href="#" class="search_link float_right">Search</a>
		<input type="text" value="" placeholder="Search" id="search_filter" class="search_input input_title" autocomplete="off" />
	</div>
}