@model Herrd.DataLayer.Track

@{
	var track = Model;
}

<div id="item-@track.id" class="item match @track.type">

	@RazorLayouts.RenderTitleAndArtwork(track)

	@RazorLayouts.EmbedPlayer(track)

	<div class="controls_container" style="opacity: 1; visibility: visible;">
		<ul class="controls">
			<li>
				@Html.ActionLink("Archive", "AddToArchive", "Home", new { id = track.id }, new { @class = "btn_archive"})
			</li>
			<li>
				<a class="btn_edit" href="#">Edit<span><!--arrow--></span></a>
			</li>
			<li>
				@Html.ActionLink("Delete", "DeleteTrack", "Home", new { id = track.id }, new { @class = "btn_delete"})
			</li>
		</ul>
	</div>

	<div class="form_container">
		@using(Html.BeginForm("EditTrack", "Home", FormMethod.Post, new { @id = "form_edit_" + track.id }))
		{
			@Html.AntiForgeryToken()

			@Html.LabelFor(x => x.term, "Link")
			@Html.TextAreaFor(x => x.term, new { @placeholder = "Add..."})

			@Html.LabelFor(x => x.title, "Title")
			<div class="title">
				@Html.TextBoxFor(x =>x.title, new { @class = "input_title", @placeholder = "Title (optional)"})
				<a href="#" class="reset">Clear field</a>
			</div>
			<input class="submit_edit float_left" type="submit" value="Save">
			<p class="button_height float_left no_margin_bottom">or <a class="btn_cancel" href="#">Cancel</a></p>
			<div class="clearer">
				<!--clearer-->
			</div>
		}
	</div>

</div>