@model Herrd.Extensions.interfaces.ITrackService

@{
    ViewBag.Title = "AddTrackDebug";
    Layout = "~/Views/_layout.cshtml";
}

<h2>Title</h2>
@Model.Title
<br/>
<h2>Term</h2>
@Model.Term
<br/>
<h2>Type</h2>
@Model.Type
<br/>
<h2>EmbedUrl</h2>
@Model.EmbedUrl
<br/>
<h2>Artwork</h2>
@Model.Artwork